body {
  background-color: lightpink;

  margin: 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.back {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: mediumpurple;
  z-index: 1;
}

.title__container {
  width: 100%;
  position: fixed;
  top: 10px;
  z-index: 1;
}

.title {
  font-family: "Nanum Gothic Coding", monospace;
  background-color: floralwhite;
  width: 220px;
  border-radius: 20px;
  padding: 7px;
  margin: auto;
  color: mediumpurple;
  text-align: center;
}

img,
.line,
.coordView {
  position: absolute;
}

img {
  transform: translate(-50%, -50%);
}

.columnLine {
  background-color: white;
  width: 100%;
  height: 1px;
}

.rowLine {
  background-color: white;
  height: 100%;
  width: 1px;
}

.coordView {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  color: white;
  width: 100px;
  font-size: 18px;
  text-align: center;
  transform: translate(20px, 20px);
}
