body,
section {
  font-family: "Nanum Gothic Coding", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: floralwhite;
}

section {
  padding: 5px 30px;
  margin: 30px;
  border: 2px solid lightpink;
  border-radius: 20px;
  background-color: white;
}

div {
  width: 150px;
  height: 150px;
  background-color: bisque;
  margin: 10px;
}

.pink {
  background-color: lightpink;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  line-height: 25px;
  user-select: none;
  transition: all 150ms ease-out;
}

.pink:hover {
  transform: scale(1.05);
}

h1 {
  padding: 10px;
  margin: 0px;
  font-size: 32px;
  color: mediumpurple;
  text-align: center;
}
h4 {
  padding-bottom: 10px;
  margin: 0px;
  color: lightpink;
  text-align: center;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin: 10px;
}

nav {
  max-width: 650px;
  width: 100%;
}

.nav-up {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.back {
  background-color: mediumpurple;
}

.go-pink {
  border-radius: 4px;
  background-color: lightpink;
}

.nav-bottom {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.up,
.down100 {
  background-color: palevioletred;
}

.up {
  margin-bottom: 0;
}
